.reveal h4 {
  margin: 20px 0 10px 0;
  text-align: left;
}

.reveal ul {
  display: block;
}

.reveal .speaker-notes-pdf[data-layout="separate-page"] {
  font-size: 28pt;
}

.fragment.replaced {
  display: none;
}

.fragment.replaced.current-fragment {
  display: inherit;
}

/* r-stack is copied from newer versions of reveal.js */
.reveal .r-stack {
  display: grid;
  grid-template-rows: 100%;
}

.reveal .r-stack > * {
  grid-area: 1/1;
  margin: auto;
}

.attention {
  color: red !important;
}
.attention .hljs-keyword {
  color: red !important;
}
.attention .hljs-literal {
  color: red !important;
}
